<header>
  <nav class="navbar navbar-fixed-top navbar-dark bg-primary">
    <a class="navbar-brand" [routerLink]=" ['./'] ">Kooper</a>
    <app-profile-box></app-profile-box>
  </nav>
</header>

<aside>
  <ul class="nav nav-pills nav-stacked">
    <li>
      <a [routerLink]=" ['./'] " class="nav-link">
        {{'nav.dashboard' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./payments'] " class="nav-link">
        {{'nav.payments' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./finances'] " class="nav-link">
        {{'nav.finances' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./resources'] " class="nav-link">
        {{'nav.resources' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./polls'] " class="nav-link">
        {{'nav.polls' | translate}}
      </a>
    </li>
    <li>
      <a [routerLink]=" ['./announcements'] " class="nav-link">
        {{'nav.announcements' | translate}}
      </a>
    </li>
  </ul>
</aside>

<main>
  <router-outlet></router-outlet>
</main>

<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->