<md-card>
  <md-card-content>
    <md-input placeholder="Title" style="width: 100%" [(ngModel)]="service.title"></md-input>
    <md-input placeholder="Price" style="width: 100%" [(ngModel)]="service.price">
      <span md-suffix>UAH</span>
    </md-input>
  </md-card-content>
  <md-card-actions>
    <button md-button (click)="submit()">Save</button>
    <button md-button (click)="closed.emit(); $event.stopPropagation();">Cancel</button>
    <button md-button (click)="remove()">Delete</button>
  </md-card-actions>
</md-card>
