<md-card class="block">
  <md-card-title>Houses</md-card-title>
  <md-card-content>
    <app-houses-list
        [houses]="houses | async"
        (selected)="onHouseSelected($event)"
    ></app-houses-list>
  </md-card-content>
</md-card>

<app-house-form
    *ngIf="selectedHouse | async"
    [house]="selectedHouse | async"
    (closed)="onHouseDeselected()"
    (created)="onHouseCreated($event)"
    (removed)="onHouseRemoved()"
></app-house-form>

<md-card class="block">
  <md-card-title>Flats</md-card-title>
  <md-card-content>
    <app-flats-list
        [flats]="flats | async"
        (selected)="onFlatSelected($event)"
    ></app-flats-list>
  </md-card-content>
</md-card>

<app-flat-form
    *ngIf="selectedFlat | async"
    [flat]="selectedFlat | async"
    (closed)="onFlatDeselected()"
    (created)="onFlatCreated($event)"
    (removed)="onFlatRemoved()"
></app-flat-form>
