<app-houses-list
    [houses]="houses | async"
    (selected)="onHouseSelected($event)"
></app-houses-list>

<app-house-update
    *ngIf="selectedHouse | async"
    [house]="selectedHouse | async"
    (closed)="onHouseDeselected()"
></app-house-update>

<a md-button [routerLink]=" ['/resources/new-house'] ">
  New
</a>

<app-flats-list
    [flats]="flats | async"
    (selected)="onFlatSelected($event)"
></app-flats-list>

<app-flat-update
    *ngIf="selectedFlat | async"
    [flat]="selectedFlat | async"
    (closed)="onFlatDeselected()"
></app-flat-update>

<a md-button [routerLink]=" ['/resources/new-flat'] ">
  New
</a>
