<tabset>
  <tab [heading]="'resources.houses' | translate">
    <app-houses-list
        *ngIf="!(selectedHouse | async)"
        [houses]="houses | async"
        (selected)="onHouseSelected($event)"
    ></app-houses-list>
    <app-house-form
        *ngIf="selectedHouse | async"
        [house]="selectedHouse | async"
        (closed)="onHouseDeselected()"
        (created)="onHouseSaved()"
        (updated)="onHouseSaved()"
        (removed)="onHouseRemoved()"
    ></app-house-form>
  </tab>
  <tab [heading]="'resources.flats' | translate">
    <app-flats-list
        *ngIf="!(selectedFlat | async)"
        [flats]="flats | async"
        (selected)="onFlatSelected($event)"
    ></app-flats-list>
    <app-flat-form
        *ngIf="selectedFlat | async"
        [flat]="selectedFlat | async"
        (closed)="onFlatDeselected()"
        (created)="onFlatSaved()"
        (updated)="onFlatSaved()"
        (removed)="onFlatRemoved()"
    ></app-flat-form>
  </tab>
</tabset>

