$brand-primary: #008aab;
$brand-success: #a2d55e;
$brand-info: #00afaa;
$brand-danger: #ba4742;
$brand-warning: #fdbb2f;

$font-family-sans-serif: 'Roboto', sans-serif;

$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;

$nav-tabs-border-color: $brand-primary;
$nav-tabs-link-hover-border-color: $brand-primary;
$nav-tabs-active-link-hover-border-color: $brand-primary;
$nav-tabs-justified-link-border-color: $brand-primary;
