<tabset>
  <tab [heading]="'finances.services' | translate">
    <app-services-list
        *ngIf="!(selectedService | async)"
        [services]="services | async"
        (selected)="onServiceSelected($event)"
    ></app-services-list>
    <app-service-form
        *ngIf="selectedService | async"
        [service]="selectedService | async"
        (closed)="onServiceDeselected()"
        (created)="onServiceSaved()"
        (updated)="onServiceSaved()"
        (removed)="onServiceRemoved()"
    ></app-service-form>
  </tab>
  <tab [heading]="'finances.transactions' | translate">
    <app-transactions-list
        *ngIf="!(selectedTransaction | async)"
        [transactions]="transactions | async"
        (selected)="onTransactionSelected($event)"
    ></app-transactions-list>
    <app-transaction-form
        *ngIf="selectedTransaction | async"
        [transaction]="selectedTransaction | async"
        (closed)="onTransactionDeselected()"
        (created)="onTransactionSaved()"
        (updated)="onTransactionSaved()"
        (removed)="onTransactionRemoved()"
    ></app-transaction-form>
  </tab>
  <tab [heading]="'finances.billing' | translate">
    <app-billing></app-billing>
  </tab>
</tabset>
