<md-toolbar color="primary">
  <span>Kooper</span>
  <span class="fill"></span>
  <a md-button [routerLink]=" ['./'] ">
    Dashboard
  </a>
  <a md-button [routerLink]=" ['./payments'] ">
    Payments
  </a>
  <a md-button [routerLink]=" ['./finances'] ">
    Finances
  </a>
  <a md-button [routerLink]=" ['./resources'] ">
    Resources
  </a>
  <a md-button [routerLink]=" ['./polls'] ">
    Polls
  </a>
  <a md-button [routerLink]=" ['./news'] ">
    News
  </a>
  <app-profile-box></app-profile-box>
</md-toolbar>

<main>
  <router-outlet></router-outlet>
</main>

<!--<ngrx-store-log-monitor toggleCommand="ctrl-h" positionCommand="ctrl-m"></ngrx-store-log-monitor>-->
