<table class="table table-hover">
  <thead>
  <tr>
    <th>{{'transactionsList.person.label' | translate}}</th>
    <th>{{'transactionsList.service.label' | translate}}</th>
    <th>{{'transactionsList.amount.label' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr
      *ngFor="let transaction of transactions"
      (click)="selected.emit(transaction); $event.stopPropagation();"
  >
    <td>
      <span *ngIf="flats| findOne:transaction.flatId">
        {{(flats| findOne:transaction.flatId).owner}}
      </span>
    </td>
    <td>
      <span *ngIf="services| findOne:transaction.serviceId">
        {{(services| findOne:transaction.serviceId).title}}
      </span>
    </td>
    <td>{{transaction.amount | currency:'UAH'}}</td>
  </tr>
  <tr (click)="selected.emit({}); $event.stopPropagation();">
    <td colspan="3">
      <md-icon>add</md-icon>
    </td>
  </tr>
  </tbody>
</table>
