<div class="card">
  <div class="card-block">
    <form (submit)="submit(); $event.stopPropagation();">
      <div class="form-group">
        <label for="pollFormTitle">{{'pollForm.title.label' | translate}}</label>
        <input class="form-control" [(ngModel)]="poll.title" name="title" id="pollFormTitle"/>
      </div>
      <button type="submit" class="btn btn-primary">{{'save' | translate}}</button>
      <button type="button" class="btn btn-default" (click)="closed.emit(); $event.stopPropagation();">
        {{'cancel' | translate}}
      </button>
      <button type="button" class="btn btn-danger pull-xs-right" (click)="remove()">{{'delete' | translate}}</button>
    </form>
  </div>
</div>
