<table class="table table-hover">
  <thead>
  <tr>
    <th>{{'flatsList.house.label' | translate}}</th>
    <th>{{'flatsList.number.label' | translate}}</th>
    <th>{{'flatsList.owner.label' | translate}}</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let flat of flats" (click)="selected.emit(flat); $event.stopPropagation();">
    <td>
      <span *ngIf="houses| findOne:flat.houseId">
        {{(houses| findOne:flat.houseId).address}}
      </span>
    </td>
    <td>{{flat.number}}</td>
    <td>{{flat.owner}}</td>
  </tr>
  <tr (click)="selected.emit({}); $event.stopPropagation();">
    <td colspan="2">
      <md-icon>add</md-icon>
    </td>
  </tr>
  </tbody>
</table>
